[submodule "nvim"]
	path = nvim
	url = https://github.com/benraz123/nvim-configs
[submodule "sway"]
	path = sway
	url = https://github.com/benraz123/swayconfig
[submodule "tmux"]
	path = tmux
	url = https://github.com/benraz123/tmux-config
[submodule "fish"]
	path = fish
	url = https://github.com/benraz123/fish-config
[submodule "foot"]
	path = foot
	url = https://github.com/benraz123/footterm-config
